<div>

<fieldset>

<legend>Required fields</legend>








	



  <%= form.label :title, "Title"  %> <br />
  <%= form.text_field :title, :size => 80, :class => "text"  %> <br />

  <%= form.label :part1, "Left Box"  %> <br />
  <%= form.text_area :part1, :rows => 8, :class => "text" %> <br />

  <%= form.label :extra, "Video Title"  %> <br />
  <%= form.text_area :extra, :rows => 1, :class => "text" %> <br />

  <%= form.label :embedded, "Embedded"  %> <br />
  <%= form.text_area :embedded, :rows => 8, :class => "text" %> <br />
	
  <%= form.label :part2, "Part2"  %> <br />
  <%= form.text_area :part2, :rows => 2, :class => "text" %> <br />
		
  <%= form.label :links, "Links"  %> <br />
  <%= form.text_area :links, :rows => 2, :class => "text" %> <br />


	
	<%= form.label :prev_slug  %> <br />
  <%= form.text_field :prev_slug %> <br />
  <%= form.label :next_slug  %> <br />
  <%= form.text_field :next_slug %> <br />

	
	
  <%= form.label :track  %> <br />
  <%= form.text_field :prev_page %> <br />	
  <%= form.label :unused  %> <br />
  <%= form.text_field :next_page %> <br />
	

	
</fieldset>
	

	
	
</div>


