%html(lang="en-US")
  %head
    %title Seeing The Roses
    = " #{@title} " if @title.present?


    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag "application"
  %body
    %div(id="wrapper")
      = render 'shared/header'
      = render 'shared/messages'
      = yield
      = render 'shared/footer'
    %footer
      &copy 2015 Rick Heller
	


